AuthGroupFile /dev/null
AuthName "Member's Area"
AuthType Basic
AuthUserFile /home/joolee/domains/peace.eas.asu.edu/.htpasswd/public_html/joolee/teaching/459-s09/Handouts/.htpasswd
require valid-user
